.card{
      width: 800px;
      margin: auto;
}
.month{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backgroundOrange{

    &:hover{
        background-color: orange;
    }
}

.month{
    background-color: orange;
    font-size: 2rem;
}

.grid-7 {
    display: grid;
    grid-template-columns: repeat(7 , 1fr) ;
    justify-items: center;

    .header{
        width: 50px;
        height: 30px;
    }
}

.grid-7-days{
  
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    .day{
        margin :3px;
        border: solid grey 1px;
    }
}